@import 'fonts.css';
@import "mixins.scss";

body {
  display: flex;
  font-family: system-ui;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 4rem;
  color: $base-text;
}

a, a:visited {
  color: darken($base-color, 10);
  text-decoration: none;
}

h1 {
  font-weight: 200;
  font-size: clamp(2rem, 5vw, 6rem);
  margin: clamp(0.5rem, 2vw, 2rem) 0;
}

h2 {
  font-weight: 200;
  font-size: clamp(1.1rem, 2vw, 2rem);
  margin: clamp(0.5rem, 2vw, 2rem) 0;
}

img {
  width: clamp(100px, 35vw, 350px);
  border-radius: $standard-radius;
  box-shadow: $standard-shadow;
}

.hello {
  margin: 2em 0;
  color: $base-text;
  text-align: center;
  line-height: 1.8;
}

code {
  background-color: lighten($base-color, 55);
  color: $base-color;
  padding: 4px 8px;
  border-radius: $sm-radius;
}